<h1><%=flat.title%></h1>

<%= link_to "More info",
  show_article_path(flat)
%>

<%= link_to "Edit",
  edit_article_path(flat)
%>

<%= link_to "Remove",
  article_path(flat),
  data: {turbo_method: :delete, turbo_confirm: "Really?"}
%>
  <p><%=flat.content%></p>
